# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
*.pt

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/models/*.pth
data/models/*.pt
*.pgn
*.log
appunti.txt

# OS
.DS_Store
Thumbs.db

# Temporary ignored folders
src/data/models/
src/data/test_positions/
src/docs/
src/tests/
src/evaluation/
src/explainability/
src/federated/
src/utils/
/docs/
test_board_images/

# Temporary ignored files
src/training/reward_shaping.py
training_data/